<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit exercise data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit data</h1>
	<div>
		<form th:object="${data}" th:action="@{/process}" action="#" method="post">
		  	<label for="title">title</label>
			<input type="text" id="bname" th:field="*{title}" />
			<input type="hidden" id="bid" th:field="*{id}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="hr">Heartrate (avg.)</label>
			<input type="number" th:field="*{hr}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="lname">Length</label>
			<input type="number" step='0.01' id="dlength" th:field="*{length}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>